/**
 * result styles
**/

#resultWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000cc; /* cc anger hur genomskinlig bakgrunden är. Sätts mellan aa - ff */
	display: none;
    color: orange;
	justify-content: center;
	align-items: center;
	padding: 2rem 3rem;
}
#resultWrapper.show {
	display: flex;
}
